<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BetterReads</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">

</head>

<body>
  <header>
    <div class="header_wrapper">
        <a href="/" title="BetterReads | Home Page" aria-label="logo">
            <img id="site_logo" src="{% static '/images/logo.png' %}" alt="Site Logo">
        </a>

        <nav class="header_links" aria-label="primary-nav">
            <li> <a href="">Sign In</a></li>
            <li> <a href="{% url 'sign_up' %}">Create Account</a></li>
            <li> <a href="#members">Members</a></li>
            <li> <a href="#challenges">Challenges</a></li>
        </nav>

        <form id="search_bar" aria-label="search" method="POST" action="{%url 'results' %}">
          <input type="search" placeholder="Search books, authors..." name="searched">
          <!-- button will act as the icon -->
          <button type="submit">Search</button>
          {% csrf_token %}
      </form>
    </div>
</header>

  <div class="wrapper">
    <div class="container">
      <h1>Log in</h1>
      <div class="form_container">
      <form method="POST">
        {% csrf_token %} 
        <!-- Email input -->
        <div class="username_input">
          <label for="username">Username</label>
          <br>
          <input type="username" name="username" placeholder="johndoe" />
        </div>

        <!-- Password input -->
        <div class="password_input">
          <label for="password">Password</label>
          <br>
          <input type="password" name="password"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="login">Log in</button>

        <!-- {% if messages %}
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} -->

        <div class="forgot">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
          <br>
          <p>Not a member? <a href="register">Create an account now</a></p>
        </div>

      </form>
    </div>
    </div>

    <img src="{% static '/images/welcome_front.png' %}" alt="Avatars reading books and holding books">
  </div>
</body>

</html>