{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BetterReads</title>
  <link rel="stylesheet" href="{% static '/css/book.css' %}">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

  <script src="{% static 'js/book.js' %}" type="module"></script>

  <!-- star rating plug in -->
  <script src="https://jsuites.net/v4/jsuites.js"></script>
  <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
</head>

<body>

  <header>
    <div class="header_wrapper">
      <a href="/" title="BetterReads | Home Page" aria-label="logo">
        <img id="site_logo" src="{% static '/images/logo.png' %}" alt="Site Logo">
      </a>

      <form id="search_bar" aria-label="search" method="POST" action="{%url 'results' %}">
        <input type="search" placeholder="Search books, authors..." name="searched">
        <!-- button will act as the icon -->
        <button type="submit">Search</button>
        {% csrf_token %}
      </form>

      <nav class="header_links" aria-label="primary-nav">
        <li> <a href="#members">Members</a></li>
        <li> <a href="#challenges">Challenges</a></li>
        <li id="notif"><img height="40px" width="40px" src="{% static 'images/notification.png' %}" alt="Notifcation bell icon"></li>
        <li id="profile"><img height="40px" width="40px"src="{% static 'images/profile.png' %}" alt="Profile avatar"></li>

      </nav>



    </div>
  </header>

  {%csrf_token%}
  <div class="main_wrapper">

    <div class="column1">
      <div class="book_info">
        <div class="cover">
          <img src="{{image}}" alt="" width="280px" height="450px">
        </div>

        <div class="book_description">
          <div class="title_auth">
            <h1 class="title">
              {{title}}
            </h1>
            <div class="author">
              <h2 class="author">by {{author}}</h2>
            </div>
          </div>


          <div class="description">
            {{description}}
          </div>
        </div>

      </div>

      <div class="reviews">
        <div class="reviews_section">
          <h2>Popular Reviews</h2>
        </div>
        <hr class="solid_line">

        <div class="reviews_container">
          {% for review in reviews %}
          <div class="review">
            <div class="rev_header">
              <span class="iconify-inline" data-icon="bx:user-circle" style="color: #2c3c6c;"></span>
              <span class="rev_by">Review by </span>
              <span class="rev_auth">{{review.user}}</span>
              <span class="rev_rating">{{review.rating}}</span>
            </div>

            <p class="rev_text">{{review.review}}</p>

            <div class="like_stats">
              <button class="like_button">&nbsp&nbsp&nbsp</button>
              <span class="like_rev">Like review</span>
              <span class="num_likes">0 likes</span>

              <hr class="solid_line">
            </div>

          </div>


          {% endfor %}
        </div>

      </div>
    </div>

    <div class="column2">

      <div class="book_panel">
        <div class="book_menu">
          <div class="bm_item">
            <button class="read_button"></button>
            <br>
            <span>Read</span>
          </div>
          <div class="bm_item">
            <button class="toread_button"></button>
            <br>
            <span>To Read</span>
          </div>
          <div class="bm_item">
            <button class="bookshelf_button"></button>
            <br>
            <span>Bookshelf</spans>
          </div>
        </div>
        <div class="book_stars">
          <p>Rate</p>
          <div id='rating'></div>
        </div>
        <div class="book_revlink">
          <a id="revlink_click" href="/review/{{ISBN}}">Review</a>
        </div>
      </div>

      <div class="ratings_stats">
          <h2 id="ratings_head">Ratings</h2>
        <hr class="solid_line">
        <p>histogram here</p>
      </div>

    </div>

  </div>

  <footer>
    <div class="footer_wrapper">
      <li><a href="" class="foot_link">About</a></li>
      <li><a href="" class="foot_link">Terms</a></li>
      <li><a href="" class="foot_link">Contact</a></li>
    </div>
  </footer>

</body>

</html>