<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BetterReads</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
</head>

<body>

  <header>
    <div class="header_wrapper">
      <a href="/" title="BetterReads | Home Page" aria-label="logo">
        <img id="site_logo" src="{% static '/images/logo.png' %}" alt="Site Logo">
      </a>

      <form id="search_bar" aria-label="search" method="POST" action="{%url 'results' %}">
        <input type="search" placeholder="Search books, authors..." name="searched">
        <!-- button will act as the icon -->
        <button type="submit">Search</button>
        {% csrf_token %}
      </form>

      <nav class="header_links" aria-label="primary-nav">
        <li> <a href="#members">Members</a></li>
        <li> <a href="#challenges">Challenges</a></li>
      </nav>

    </div>
  </header>

  <footer>
    <div class="footer_wrapper">
      <li><a href="">About</a></li>
      <li><a href="">Terms</a></li>
      <li><a href="">Contact</a></li>
    </div>
  </footer>
</body>

</html>