<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BetterReads</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>
<body>


  <header>
    <div class="header_wrapper">
      <a href="/" title="BetterReads | Home Page" aria-label="logo">
        <img id="site_logo" src="{% static '/images/logo.png' %}" alt="Site Logo">
      </a>

      <form id="search_bar" aria-label="search" method="POST" action="{%url 'results' %}">
        {% csrf_token %}
        <input type="search" placeholder="Search books, authors..." name="searched">
        <!-- button will act as the icon -->
        <button type="submit">Search</button>

      </form>

      <nav class="header_links" aria-label="primary-nav">
        <li> <a href="#members">Members</a></li>
        <li> <a href="#challenges">Challenges</a></li>
        <li id="notif"><img height="40px" width="40px" src="{% static 'images/notification.png' %}"
            alt="Notifcation bell icon"></li>
        <li id="profile"><img height="40px" width="40px" src="{% static 'images/profile.png' %}" alt="Profile avatar">
        </li>

      </nav>


    </div>
  </header>
  <div class="container">
    <div class="trending">
      <div class="trending_title">
        <h3>Trending Books</h3>
        <div class="partition"></div>
      </div>
      <div class="trending_wrapper">
        <a href="/book/9780525555223"><div class="book_1" style="cursor: pointer;">
          <img src="{% static '/images/johngreen.png' %}" alt="The Anthropocene Reviewed by John Green">
          <p class="book_title">The Anthropocene Reviewed</p>
          <p class="author_name">by John Green</p>
        </div></a>
        <a href="/book/9780735223721"><div class="book_2"  style="cursor: pointer;">
          <img src="{% static '/images/chanelmiller.png' %}" alt="Know My Name by Chanel Miller">
          <p class="book_title">Know My Name</p>
          <p class="author_name">by Chanel Miller</p>
        </div></a>
        <a href="/book/9781984822185"><div class="book_3" style="cursor: pointer;">
          <img src="{% static '/images/sallyrooney.png' %}" alt="Normal People by Sally Rooney">
          <p class="book_title">Normal People</p>
          <p class="author_name">by Sally Rooney</p>
        </div></a>
        <a href="/book/9780525522133"><div class="book_4" style="cursor: pointer;">
          <img src="{% static '/images/Otessa.jpg' %}" alt="My Year of Rest and Relaxation by Otessa Moshfegh"
            width="210px" height="310px">
          <p class="book_title">My Year of Rest and Relaxation</p>
          <p class="author_name">by Otessa Moshfegh</p>
        </div></a>
        <a href="/book/9780143130086"><div class="book_5"  style="cursor: pointer;">
          <img src="{% static '/images/MaryOliver.png' %}" alt="Upstream by Mary Oliver">
          <p class="book_title">Upstream</p>
          <p class="author_name">by Mary Oliver</p>
        </div></a>
      </div>
      <a id="see_more" href="#"> See More <span class="iconify" data-icon="akar-icons:arrow-right"
          style="color: #2c3c6c;"></span> </a>
    </div>
    <div class="recent">

      <div class="recent_title">
        <h3>Recent Activity</h3>
        <div class="partition"></div>
      </div>

      <div class="reviews">

        <div class="review">
          <a href="/book/9781250236210"><div class="cover"  style="cursor: pointer;">
            <img src="{% static '/images/psalm.jpg' %}" alt="Psalm for the wild built by Becky Chambers" width="210px"
              height="310px">
          </div></a>

          <div class="info">
            <div class="avatar">
              <img src="{% static '/images/avatar.png' %}" width="70px" height="68px"
                alt="A profile picture of a woman smiling">
            </div>

            <div class="username">
              <p>jane_reads_books</p>
            </div>

            <a href="/book/9781250236210"><div class="title">
              <h5>A Psalm for the Wild Built <span class="author">by Becky Chambers</span></h5>
            </div></a>

            <div class="rating">
              <p>★★★★ 1/2</p>
            </div>

            <div class="text">
              <p>One of my favorite reads of the year! Really excited to read more
                from Becky Chambers and the next book in this series.</p>
            </div>

            <div class="interactions">
              <div class="like">
                <img src="{% static '/images/like.png' %}" height="16px" width="16px" lt="Thumbs up icon">
                <p>21</p>
              </div>

              <div class="comment">
                <img src="{% static '/images/comment.png' %}" height="16px" width="16px" alt="Thought bubble icon">
                <p>8</p>
              </div>
            </div>
          </div>


        </div>


        <div class="review_partition"></div>


        <div class="review">
          <a href="/book/978150113923">
          <div class="cover"  style="cursor: pointer;">
            <img src="{% static '/images/taylorjenkinsreid.png' %}"
              alt="Seven husbands of evelyn hugo by taylor jenkins reid cover" width="210px" height="310px">
          </div></a>

          <div class="info">
            <div class="avatar">
              <img src="{% static 'images/avatar2.jpg' %}" alt="A profile picture of a man smiling" width="70px"
                height="68px" style="border-radius: 50%;">
            </div>

            <div class="username">
              <p>tarheel_reader</p>
            </div>

            <a href="/book/978150113923">
            <div class="title">
              <h5>The Seven Husbands of Evelyn Hugo <span class="author">by Taylor Jenkins Reid</span></h5>
            </div></a>

            <div class="rating">
              <p>★★★★★</p>
            </div>

            <div class="text">
              <p>This book made me cry! The characters felt so real that I wanted to just look them up.
                Can't wait for the movie!
              </p>
            </div>

            <div class="interactions">
              <div class="like">
                <img src="{% static '/images/like.png' %}" height="16px" width="16px" alt="Thumbs up icon">
                <p>41</p>
              </div>

              <div class="comment">
                <img src="{% static '/images/comment.png' %}" height="16px" width="16px" alt="Thought bubble icon">
                <p>12</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <footer>
    <div class="footer_wrapper">
      <li><a href="">About</a></li>
      <li><a href="">Terms</a></li>
      <li><a href="">Contact</a></li>
    </div>
  </footer>


</body>

</html>