<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="review.css">
  <title>BetterReads</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="topnav">
                <!-- <a class="active" href="index.html">BetterReads</a>
                <input type="text" placeholder="Search..">
                <a href="#">Members</a>
                <a href="#">Challenges</a> -->
                
              </div>
        </div>
        <div class="info">
            <div class="text">
                <p class="bookshelf"> I READ...</p>
                <h2>Normal People</h2>
                <p class="author">Sally Rooney</p>
            </div>
            <div class="rating">
               <p class="rating">
                Rating
               </p> 
                <button class="star">
        
                 </button> 
        
                 <button class="star">
                    
                 </button>
        
                 <button class="star">
                 
                 </button>
        
                 <button class="star">
                  
                 </button>
        
                 <button class="star">
                 
                 </button>
                
            
            </div>
        </div>
     
        <img class="book" src="normal people.jpeg">
        <div class="tags">
            <h1 class="tag_title"> Tags</h1>
            <form>
                <textarea cols="50" class="tag_search"> e.g. informative
                </textarea>
                </form>
        </div>
        <div class="public">
            <div>
                <input type="checkbox" class="checkbox">
                <p class="box">Public</p>
            </div>
           <div>
            <input type="checkbox" class="checkbox">
            <p class="box">Friends only</p>
           </div>
           <div>
            <input type="checkbox" class="checkbox">
            <p class="box">Anonymous</p>
           </div>
            
        </div>
        <form>
            <textarea cols="50" class="review"> Add a review... 
                </textarea>
            </form>
            <!-- <div class="bottom"> -->
                <div class="spoil">
                    <input type="checkbox" class="check_box">
                    <p class="spoiler">Contains Spoilers</p>

                </div>
              
                <button class="submit">
                    Save
                </button>

            <!-- </div> -->
          
            <footer>
                <div class="footer_wrapper">
                    <li><a href="">About</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Contact</a></li>
                </div>
            </footer>
    </div>
    
   
</body>