<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="search.css">
  <title>BetterReads</title>
</head>
<body>
    <div class="container">
      <header>
        <div class="topnav">
          <!-- <a class="active" href="index.html">BetterReads</a>
          <input type="text" placeholder="Search..">
          <a href="#">Members</a>
          <a href="#">Challenges</a> -->
          
        </div>
      </header>
      <div class="text">
        <h1> Search results for</h1>
        <button class="search_by"> Author: John Green</button>
      </div>
     
        
       
    
          
            <div class="first_image">
              <img class="image" src="fault.jpeg">
            </div>
            
            <div class="first_right">
              <h2 class="title">The fault in our Stars</h2>
              <p class="star_rating">★★★★ 1/2</p>
              <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec. Sed turpis tincidunt id aliquet risus feugiat in ante. Et ultrices neque ornare aenean euismod elementum. Malesuada proin libero nunc consequat. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum</p>
              <div class="about">
                    
                <img class = "tiny" src="stars.png"> <p class="number">435,435 ratings  </p>
             
              <img class = "tiny" src="reviews.png"> <p class="number">40,895 reviews</p>
            
            
          </div>
            </div>
        
          
   
          

            <div class="second_image">
              <img class="image" src="turtles.jpeg">
            </div>
            
            <div class="second_right">
              <h2 class="title">Turtles all the Way Down</h2>
              <p class="star_rating">★★★★ 1/2</p>
              
              <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec. Sed turpis tincidunt id aliquet risus feugiat in ante. Et ultrices neque ornare aenean euismod elementum. Malesuada proin libero nunc consequat. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum</p>
              <div class="about">
                    
                <img class = "tiny" src="stars.png"> <p class="number">435,435 ratings  </p>
             
              <img class = "tiny" src="reviews.png"> <p class="number">40,895 reviews</p>
            
            
          </div>
            </div>
          
           
      
           
              <div class="third_image" >
                <img class="image" src="alaska.jpeg">
              </div>
              
              <div class="third_right">
                <h2 class="title">Looking for Alaska</h2>
                <p class="star_rating">★★★★ 1/2</p>
                <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec. Sed turpis tincidunt id aliquet risus feugiat in ante. Et ultrices neque ornare aenean euismod elementum. Malesuada proin libero nunc consequat. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum</p>
                <div class="about">
                    
                      <img class = "tiny" src="stars.png"> <p class="number">435,435 ratings  </p>
                   
                    <img class = "tiny" src="reviews.png"> <p class="number">40,895 reviews</p>
                  
                  
                </div>
               
              </div>
              
          
       
            
              <div class="fourth_image">
                <img class="image" src="paper_towns.jpeg">
              </div>
              
              <div class="fourth_right">
                <h2 class="title">Paper Towns</h2>
                <p class="star_rating">★★★★ 1/2</p>
                <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec. Sed turpis tincidunt id aliquet risus feugiat in ante. Et ultrices neque ornare aenean euismod elementum. Malesuada proin libero nunc consequat. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum</p>
                <div class="about">
                    
                  <img class = "tiny" src="stars.png"> <p class="number">435,435 ratings  </p>
               
                <img class = "tiny" src="reviews.png"> <p class="number">40,895 reviews</p>
              
              
            </div>
              </div>
              
            

         
    
              <footer>
                <div class="footer_wrapper">
                    <li><a href="">About</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Contact</a></li>
                </div>
            </footer>
    
</body>