@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Playfair+Display:wght@500&family=Roboto&display=swap');
* {
    font-family: 'Amatic SC', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    background-color: #FFFFFF;
}
/* HEADER: copy and paste it in other pages */
header {
    height: 90px;
    background-color: #2C3C6C;
}

.header_wrapper {
    padding: 0;
    list-style: none;
    background-color: #2C3C6C;

    height: 90px;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template:
        "logo ........... ......"
        "logo primary-nav search";
    margin: 0 auto;
    max-width: 1440px;
}

#site_logo {
    width: 35%;
    padding-top: 10px;
}

.header_links {
    align-content: center;
    align-items: center;
}

.header_links li {
    display: inline;
    background-color: #2C3C6C;
    position: relative;
bottom: 8px;
}

.header_links a {
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;

    padding: 20px;
}

.header_links a:hover {
    color: #2C3C6C;
    background-color: #B7C1E1;
    border-radius: 40px;
}

#search_bar {
    width: 300px;
    color: black;
    display: flex;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 40px;
    background-color: #B7C1E1;
    position: relative;
    right: 180px;
}

input[type="search"] {
    height: 24px;
    width: 170px;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0px 3px;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: rgb(42, 42, 42);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 30px;
    padding: 0;
    margin: 0;
    background: transparent url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%232c3c6c" stroke-linecap="round" stroke-width="2" d="m21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0Z"%2F%3E%3C%2Fsvg%3E') no-repeat center;
    cursor: pointer;
    opacity: 0.6;
    border: none;
    position: relative;
    left: 110px;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #2C3C6C;
    border-color: #2C3C6C;
    outline: none;
}

/* code for header ends here */



/* Footer */
footer {
  display: grid;
  margin: 0 auto;
  padding: 0;
  background-color: #2C3C6C;
  align-content: center;
  align-items: center;
  height: 130px;
}
.footer_wrapper {
  /* height: 90px; */
  list-style: none;
  text-align: center;
}

.footer_wrapper a {
  color: white;
  text-decoration: none;
  padding: 50px;
}

.footer_wrapper a:hover {
  color: #2C3C6C;
  background-color: #B7C1E1;
  border-radius: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer_wrapper li {
  display: inline-block;
  font-size: 20px;
}
.trending { 
    position: relative;
    top: 40px;
}
.trending_wrapper {
    position: relative;
    display: grid;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(5, 300px);
}

.trending_wrapper div {
    text-align: center;
}

.trending_title {
    font-family: 'Playfair Display', serif;
    color: #2C3C6C;
    font-size: 40px;
}
.author_name {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

#see_more {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-style: italic;
    float: right;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 20px;
}

#see_more:hover {
    color: #2C3C6C;
   
    cursor: pointer;
}

.psalm{
    width: 215px;
    height: 300px;
    margin-left: 30px;

}

h3 {
    font-family: 'Playfair Display';
    font-size: 40px;
    color: #2C3C6C;

}

.partition { 
    width: 1440px; 
    border: 1px solid #2C3C6C; 
    position: relative;
    bottom: 30px;
}
.Earth{
    width: 215px;
    height: 300px;
 
    margin-left: 30px;
    
    
}
.book_pic1{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    align-items: center;
  
}
.book_pic2{
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    
}
.info1{
    grid-row: 2/3;
    grid-column:2/3;

    
}
.info2 {
    grid-row: 3/4;
    grid-column: 2/3;
   
}
.name {
    margin-left: 85px;
    font-weight: bold;
}
.avatar{
    margin-bottom: -50px;
}
.book_title{
    margin-top: 36px;
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 20px;
}
#book_author {
   font-weight: 100;
   font-family: 'Playfair Display';
   
}
.star_rating{
    color: gold;
    font-size: 18px;
}

.container { 
    width: 1440px;
    margin: 0 auto;
}

#notif {
    position: relative; 
    top: 4px;
}

#profile {
    position: relative;
    top: 0px;
}

.iconify {
    position: relative;
    top: 3px;
}


/* Reviews */
.reviews {
    display: flex;
    flex-direction: column;
}

.reviews .review .info {
    display: flex; 
    flex-direction: column;
    margin-left: 20px;
}

.review { 
    display: flex; 
    flex-direction: row;
    margin-bottom: 40px;
    height: 400px;
}

.review_partition {
    border-bottom: 3px solid #2C3C6C; 
    width: 1440px;
    position: relative;
    bottom: 64px;

}
.interactions {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
}

.review .username p{
    font-family: 'Playfair Display', sans-serif;
    position: relative;
    left: 80px;
    bottom: 25px;
    font-size: 22px;
}

.review .title h5 { 
    font-family: 'Playfair Display', sans-serif; 
    font-size: 22px;
    position: relative;
    bottom: 30px;
}

.review .title .author {
    font-family: 'Playfair Display', sans-serif; 
    font-size: 22px; 
    font-weight: 200; 
}

.review .rating p {
    font-family: 'Playfair Display', sans-serif;
    position: relative;
    bottom: 80px;
    font-size: 30px;
    color: goldenrod;
}

.review .text p {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    width: 1200px;
    position: relative;
    bottom: 110px;
}

.review .interactions {
    position: relative;
    bottom: 100px;
}

.like {
    width: 50px;
    display: flex;
    flex-direction: row;
}

.like p {
    margin-left: 8px;
    position: relative;
    bottom: 25px;
    font-size: 20px;
}

.comment {
    margin-left: 20px;
    width: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 2px;
}

.comment p {
    margin-left: 8px;
    position: relative;
    bottom: 25px;
    font-size: 20px;
}




.review .interactions p {
    font-family: 'Playfair Display',sans-serif; 
}

a {
    text-decoration: none; 
    color: black;
}