@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Playfair+Display:wght@500&family=Roboto&display=swap');
* {
    font-family: 'Amatic SC', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    background-color: #FFFFFF;
}

/* HEADER: copy and paste it in other pages */
header {
    height: 90px;
    background-color: #2C3C6C;
}

.header_wrapper {
    padding: 0;
    list-style: none;
    background-color: #2C3C6C;

    height: 90px;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template:
        "logo ........... ......"
        "logo primary-nav search";
    margin: 0 auto;
    max-width: 1440px;
}

#site_logo {
    width: 35%;
    padding-top: 10px;
}

.header_links {
    align-content: center;
    align-items: center;
}

.header_links li {
    display: inline;
    background-color: #2C3C6C;
    position: relative;
    bottom: 8px;
}

.header_links a {
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;

    padding: 20px;
}

.header_links a:hover {
    color: #2C3C6C;
    background-color: #B7C1E1;
    border-radius: 40px;
}

#search_bar {
    width: 300px;
    color: black;
    display: flex;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 40px;
    background-color: #B7C1E1;
    position: relative;
    right: 180px;
}

input[type="search"] {
    height: 24px;
    width: 170px;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0px 3px;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: rgb(42, 42, 42);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 30px;
    padding: 0;
    margin: 0;
    background: transparent url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%232c3c6c" stroke-linecap="round" stroke-width="2" d="m21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0Z"%2F%3E%3C%2Fsvg%3E') no-repeat center;
    cursor: pointer;
    opacity: 0.6;
    border: none;
    position: relative;
    left: 110px;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #2C3C6C;
    border-color: #2C3C6C;
    outline: none;
}

#notif {
    position: relative; 
    top: 4px;
}

#profile {
    position: relative;
    top: 0px;
}

/* code for header ends here */

/* Body */
.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 { 
    font-family: 'Playfair Display', sans-serif;
}

.search_term { 
    margin-left: 4px;
    width: auto; 
    background-color: #252E47; 
    color: #FFFFFF;
    border-radius: 10px; 
    padding: 4px 8px;
    font-family: 'Playfair Display', sans-serif;
}

.partition { 
    width: 1200px; 
    border: 1px solid #2C3C6C;
}


.results .info .title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
}

.results .book {
    margin-top: 8px;
    display: flex; 
    flex-direction: row;
}

a, a:visited { 
    text-decoration: none;
    color: #000000;
}

.results .info { 
    display: flex; 
    flex-direction: column;
    margin-left: 15px;
    text-decoration: none;
}

.info .title h2 {
    font-family: 'Playfair Display', sans-serif;
}

.info .author h4 {
    position: relative; 
    bottom: 40px;
    font-family: 'Playfair Display', sans-serif; 
    font-size: 18px;
}

.info .description p { 
    font-family: 'Roboto', sans-serif; 
    position: relative;
    bottom: 50px;
}
.results .cover { 
    margin-top: 30px;
}




/*  Footer  */
footer {
    display: grid;
    margin: 0 auto;
    padding: 0;
    background-color: #2C3C6C;
    align-content: center;
    align-items: center;
    height: 130px;
}
.footer_wrapper {
    /* height: 90px; */
    list-style: none;
    text-align: center;
}

.footer_wrapper a {
    color: white;
    text-decoration: none;
    padding: 50px;
}

.footer_wrapper a:hover {
    color: #2C3C6C;
    background-color: #B7C1E1;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_wrapper li {
    display: inline-block;
    font-size: 20px;
}
h1 {
    color:#2C3C6C;
    font-family: 'Playfair Display';
    font-weight: bold;
}
